:root {
  --black: #23262b;
  --dark-beige: #cfc6b5;
  --navy: #2f4157;
  --beige: #f4efeb;
  --light-blue: #c7d9e5;
  --teal: #577c8e;
}

.layout {
  display: flex;
  background-color: var(--beige);
  border-radius: 40px;
  height: calc(100vh - 100px);
}

.layoutBorder {
  padding: 50px;
  background-color: var(--dark-beige);
  height: 100vh;
}
