.addActionDiv {
  grid-row: 2;
  grid-column: 9 / 13;
  background-color: white;
  border-radius: 40px;
  padding: 20px;
}

.headerWithDate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.headerWithDate h3 {
  margin: 0;
}

.headerWithDate input[type="date"] {
  padding: 5px;
  border-radius: 40px;
  border: 1px solid #ccc;
  white-space: nowrap;
}

.addActionDiv .choseGoalDiv {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-top: 5px;
}

.addActionDiv .choseGoalDiv select {
  padding: 5px;
  border-radius: 40px;
  margin-top: 5px;
}

.actionDescriptionContainer {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-top: 10px;
}

.actionDescriptionContainer textarea {
  border-radius: 40px;
  padding: 5px;
  margin-top: 5px;
  resize: none;
}

.addActionDiv input[type="submit"] {
  margin-top: 20px;
  width: 100%;
  border-radius: 40px;
  background-color: var(--blue);
  color: white;
  border: none;
  padding: 5px 0;
  cursor: pointer;
}
