.addActionDiv {
  grid-row: 2;
  grid-column: 9 / 13;
  background-color: white;
  border-radius: 40px;
  padding: 20px;
}

.addActionDiv .choseGoalDiv {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-top: 10px;
  gap: 10px;
}

.addActionDiv .choseGoalDiv select {
  padding: 5px;
  border-radius: 40px;
}

.actionDescriptionContainer {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-top: 10px;
}

.actionDescriptionContainer textarea {
  border-radius: 40px;
  padding: 5px;
  margin-top: 10px;
  resize: none;
}

.addActionDiv input[type="submit"] {
  margin-top: 15px;
  width: 100%;
  border-radius: 40px;
  background-color: var(--blue);
  color: white;
  border: none;
  padding: 5px 0;
  cursor: pointer;
}
