.addGoalsDiv {
  background-color: white;
  border-radius: 40px;
  grid-column: 4 / 8;
  grid-row: 2;
  padding: 20px;
}

.setGoalDiv {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.setGoalDiv div {
  display: flex;
  flex-direction: column;
}

.setGoalDiv div input {
  margin-top: 5px;
  border-radius: 40px;
  border: 1px solid var(--black);
  padding: 5px;
}

.setGoalDiv .goalColor {
  border-radius: 50%;
  margin-left: 75px;
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.setGoalDiv .goalColor::-webkit-color-swatch-wrapper {
  padding: 0;
  border: none;
}

.setGoalDiv .goalColor::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.setGoalDiv .goalColor::-moz-color-swatch {
  border: none;
  border-radius: 50%;
}

.describeGoalDiv {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.describeGoalDiv textarea {
  border-radius: 40px;
  margin-top: 5px;
  padding: 10px;
  max-width: 300px;
  resize: none;
}

.addGoalsDiv input[type="submit"] {
  margin-top: 20px;
  width: 100%;
  border-radius: 40px;
  background-color: var(--blue);
  color: white;
  border: none;
  padding: 5px 0;
  cursor: pointer;
}
