.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border: 1px solid black;
  padding: 10px;
  grid-column-gap: 10px;
}

.dashboardDiv h1 {
  margin-bottom: 30px;
}

.dashboardDiv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.dashboardDiv h2 {
  margin-bottom: 10px;
}

.widgetsDiv {
  margin-top: 50px;
  display: flex;
}
