.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 550px;
  grid-column: 1 / 8;
  grid-row: 1 / 2;
}

.dashboardGridDiv {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 240px);
  height: 100%;
  width: 100%;
  justify-content: center;
  gap: 40px;
}

.dashboardDiv {
  width: 100%;
}

.headersDiv {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.headersDiv h3 {
  margin-left: 50px;
  margin-top: 10px;
  font-weight: 100;
  display: flex;
  align-items: center;
  gap: 20px;
}

.headersDiv p {
  min-width: 150px;
  text-align: center;
}

.headersDiv h3 button {
  font-size: 30px;
  background-color: white;
  border-radius: 40px;
  padding: 0 10px;
}
