.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 550px;
  grid-column: 1 / 8;
  grid-row: 1 / 2;
}

.dashboardDiv h1 {
  margin-bottom: 30px;
}

.dashboardGridDiv {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 250px);
  height: 100%;
  width: 100%;
  justify-content: center;
  gap: 40px;
}

.dashboardDiv {
  width: 100%;
}
