.weekday {
  text-align: center;
  padding-bottom: 15px;
  border-radius: 40px;
}

.dayDiv .dayContent {
  background-color: white;
  width: 100%;
  min-width: 60px;
  border-radius: 40px;
  margin-top: 10px;
}

.dayContent {
  min-height: 150px;
}

.dayDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
