.weekday {
  text-align: center;
  padding-bottom: 15px;
  border-radius: 40px;
}

.dayDiv .dayContent {
  background-color: white;
  width: 100%;
  min-width: 60px;
  border-radius: 40px;
  margin-top: 10px;
  min-height: 175px;
  display: flex;
  flex-direction: column-reverse;
  padding: 10px 5px;
  align-items: center;
}

.dayDiv .actionItem {
  width: 40px;
  height: 40px;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
