.hotStreakWidgetDiv {
  grid-column: 8 / 13;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 40px;
}

.hot-streak-widget {
  background-color: var(--black);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
