:root {
  --black: #23262b;
  --red: #fc8b77;
  --yellow: #fbdc79;
  --white: #f4f1ec;
  --beige: #cfc6b5;
}

.layout {
  display: flex;
  background-color: var(--white);
  border-radius: 40px;
  background-color: var(--white);
  height: calc(100vh - 100px);
}

.layoutBorder {
  padding: 50px;
  background-color: var(--beige);
  height: 100vh;
}
