aside {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 30px;
  justify-content: space-between;
  min-width: 300px;
  position: relative;
}

.sidebar::after {
  content: "";
  position: absolute;
  top: 30px;
  bottom: 30px;
  right: 0;

  width: 2px;
  background-color: rgba(39, 122, 6, 0.434);
}

aside nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.nav-link {
  border: 3px solid transparent;
  min-width: 150px;
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 30px;
  font-family: Helvetica, sans-serif;
  padding: 10px;
  width: 100%;
}

.nav-link:hover {
  background-color: white;
  color: black;
  border: 3px solid black;
}

.nav-link:active {
  transform: translateY(2px);
  box-shadow: 4px 4px rgba(0, 0, 255, 0.233);
}

.logoDiv {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 30px;
  min-width: 150px;
}

.logoDiv img {
  max-width: 100px;
}

.accountDiv {
  border: 1px solid black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
}

.accountDiv img {
  max-width: 50px;
  border-radius: 50%;
}
