:root {
  --black: #23262b;
  --red: #fc8b77;
  --yellow: #fbdc79;
  --white: #f4f1ec;
  --beige: #cfc6b5;
}

aside {
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.sidebar::after {
  content: "";
  position: absolute;
  top: 30px;
  bottom: 30px;
  right: 0;
  width: 1px;
  background-color: var(--black);
}

aside nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: white;
  padding: 20px 10px;
  border-radius: 35px;
}

.nav-link {
  display: flex;
  border: 3px solid transparent;
  text-decoration: none;
  color: white;
  background-color: var(--black);
  border-radius: 50%;
  font-family: Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.nav-link .icon {
  width: 25px;
  height: 25px;
}

.nav-link:hover .icon {
  fill: var(--yellow);
}

.nav-link:hover .icon path {
  stroke: var(--black);
}

.nav-link:hover {
  background-color: white;
  color: black;
  border: 3px solid black;
}

.accountDiv {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 40px;
  background-color: white;
  gap: 20px;
}

.accountDiv button {
  border-radius: 50%;
  background-color: white;
  border: 3px solid var(--yellow);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accountDiv button svg {
  width: 30px;
  height: 30px;
}

.accountDiv button:hover {
  border: 3px solid black;
  cursor: pointer;
}

.accountDiv img {
  border: 3px solid var(--yellow);
  width: 56px;
  border-radius: 50%;
}

.nav-link.active {
  transform: translateY(2px);
  background-color: white;
  color: black;
  border: 3px solid black;
  cursor: default;
}

.nav-link.active .icon {
  fill: var(--red);
}

.nav-link.active .icon path {
  stroke: var(--black);
}
