:root {
  --black: #23262b;
  --dark-beige: #cfc6b5;
  --navy: #2f4157;
  --beige: #f4efeb;
  --light-blue: #c7d9e5;
  --teal: #577c8e;
}

main {
  padding: 30px 30px 30px 0;
  width: 100%;
  height: 100%;
}

main h1 {
  font-size: 30px;
}
