@import "./assets/fonts.css";

:root {
  --black: #23262b;
  --dark-beige: #cfc6b5;
  --navy: #2f4157;
  --beige: #f4efeb;
  --light-blue: #c7d9e5;
  --teal: #577c8e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
